<header-simple></header-simple>

<div style="display: flex; justify-content: center; font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;">
    <div style="margin-top: 30px; ">Sign up</div>
</div>

<form [formGroup]="signUpForm">
    <div style="display: flex; justify-content: center;">
        <div style="position: relative; width: 100%; max-width: 500px; display: flex; flex-direction: column; padding-left: 30px; padding-right: 30px;">
            <!-- USERNAME -->
            <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'auto'" [color]="'accent'" style="width: 100%;">
                <input matInput placeholder="Enter your username" formControlName="username" autofocus required>
                <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- EMAIL -->
            <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'auto'" [color]="'accent'" style="width: 100%;">
                <input matInput placeholder="Enter your email" formControlName="email" required>
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- PASSWORD -->
            <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'auto'" [color]="'accent'" style="width: 100%;">
                <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <mat-icon style="color: grey; cursor:pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- PASSWORD CONFIRMATION-->
            <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'auto'" [color]="'accent'" style="width: 100%;">
                <input matInput placeholder="Confirm your password" formControlName="passwordConfirmation" [type]="hide ? 'password' : 'text'"
                    required>
                <mat-icon style="color: grey; cursor:pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="passwordConfirmation.invalid">{{getPasswordConfirmationErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- Registration error -->
            <div style="position:absolute; bottom: -8px; height:20px;">
                <span *ngIf="signUpErrorOcurred" style="color: red; font: 500 11px/20px Roboto, 'Helvetica Neue', sans-serif;">
                    <i class="fas fa-exclamation-circle"></i> {{signUpErrorMessage}}</span>
            </div>
            <div style="position:absolute; bottom: -8px; height:20px;">
                <span *ngIf="signUpErrorOcurred" style="color: red; font: 500 11px/20px Roboto, 'Helvetica Neue', sans-serif;">
                    <i class="fas fa-exclamation-circle"></i> {{signUpErrorMessage}}</span>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <div style="width: 100%; max-width: 500px; padding-left: 30px; padding-right: 30px;">
            <button mat-raised-button [color]="'accent'" (click)="onSubmit()" style="width: 100%; color: white; box-shadow: 0 10px 20px 0px rgba(0,0,0,.2), 0 -5px 20px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);">SIGN UP</button>
        </div>
    </div>
</form>
<!-- <p>Form value: {{ signUpForm.value | json }}</p>
<p>Form status: {{ signUpForm.status | json }}</p> -->

<div style="display: flex; justify-content: center; margin-top: 30px; font: 500 12px/25px Roboto, 'Helvetica Neue', sans-serif;">
    <div style="width: 100%; max-width: 500px; padding-left: 30px; padding-right: 30px;">
        <div style="color: grey;">
            <i class="material-icons" style="font-size: 10px;">star</i> Already have an account?
            <a (click)="onSignIn()" style="text-decoration:none; cursor:pointer;">Sign In</a>
        </div>
    </div>
</div>