<header-simple></header-simple>

<div style="display: flex; justify-content: center; font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;">
    <div style="margin-top: 30px; ">Welcome!</div>
</div>

<form [formGroup]="loginForm">
    <div style="display: flex; justify-content: center;">
        <div style="position: relative; width: 100%; max-width: 500px; display: flex; flex-direction: column; padding-left: 30px; padding-right: 30px;">
            <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'auto'" [color]="'accent'" style="width: 100%;">
                <input matInput placeholder="Username or email" formControlName="username" autofocus required>
            </mat-form-field>
            <mat-form-field [hideRequiredMarker]="true" [floatLabel]="'auto'" [color]="'accent'" style="width: 100%;">
                <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <mat-icon style="color: grey; cursor:pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <!-- Log in error -->
            <div style="position:absolute; bottom: -8px; height:20px;">
                <span *ngIf="loginErrorOcurred" style="color: red; font: 500 11px/20px Roboto, 'Helvetica Neue', sans-serif;">
                    <i class="fas fa-exclamation-circle"></i> {{loginErrorMessage}}
                </span>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <div style="width: 100%; max-width: 500px; padding-left: 30px; padding-right: 30px;">
            <button mat-raised-button [color]="'accent'" (click)="onSubmit()" style="width: 100%; color: white; box-shadow: 0 10px 20px 0px rgba(0,0,0,.2), 0 -5px 20px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);">LOG IN</button>
        </div>
    </div>
</form>
<!-- <p>Form value: {{ loginForm.value | json }}</p>
<p>Form status: {{ loginForm.status | json }}</p> -->

<div style="display: flex; justify-content: center; margin-top: 30px; font: 500 12px/25px Roboto, 'Helvetica Neue', sans-serif;">
    <div style="width: 100%; max-width: 500px; padding-left: 30px; padding-right: 30px;">
        <div style="color: grey;">
            <i class="material-icons" style="font-size: 10px;">star</i> Forgot
            <a (click)="onForgot()" style="text-decoration:none; cursor:pointer;">Username/Password</a>
        </div>
        <div style="color: grey;">
            <i class="material-icons" style="font-size: 10px;">star</i> Don't have an account?
            <a (click)="onSignUp()" style="text-decoration:none; cursor:pointer;">Sign Up</a>
        </div>
    </div>
</div>