<header-simple></header-simple>

<div style="font: 500 12px/20px Roboto, 'Helvetica Neue', sans-serif;">
  <div style="margin-top:30px; color: grey; text-align:center; font-size: 30px;">404</div>
  <div style="margin-top:30px; color: grey; text-align:center; font-size: 30px;"><i class="material-icons" style="font-size: 50px;">error</i></div>
  <div style="margin-top:30px; color: grey; text-align:center; font-size: 30px;">Page not found!</div>
  <div style="margin-top:30px; color: grey; text-align:center; font-size: 14px;">This page either does not exists or it has not been implemented yet. Please redirect to 
    <a (click)="onRedirect()" style="text-decoration:none;">home page</a>.
  </div>
</div>