// Social Colors
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #4875b4;
$google-plus: #d34836;
$flickr: #ff0084;
$tumblr: #32506d;
$xing: #026466;
$github: #4183c4;
$html5: #e34f26;
$openid: #f78c40;
$stack-overflow: #fe7a15;
$youtube: #b00;
$css3: #0170ba;
$dribbble: #ea4c89;
$instagram: #517fa4;
$pinterest: #cb2027;
$vk: #45668e;
$yahoo: #400191;
$behance: #1769ff;
$dropbox: #007ee5;
$reddit: #ff4500;
$spotify: #7ab800;
$vine: #00bf8f;
$foursquare: #1073af;
$vimeo: #aad450;

// Koomkin
$koomkin-green: #32b3aa; // Main green
$koomkin-aqua: #33a4bc; // Main blue
$koomkin-yellow: #f9b234; // Main yellow
$koomkin-blue-hypt: #2196f3; // Other activity and info color
$koomkin-blue-bg: #cfecf7; // Adds example background
$koomkin-blue-light-bg: #e8f0f9; // Clients example background
$koomkin-grey-dark: #494949; // Continue button text
$koomkin-blue-electric: #21bcbd; // Slim loading bar
$koomkin-orange: #ff7d00;

// App
$app-primary: #114e8d;
$app-secondary: #1a76d1;

/* $app-primary: rgb(70, 70, 70);
$app-secondary: rgb(170, 0, 0); */